/**
 * 定义通用业务样式
 */

.page-title {
    margin-bottom: 12px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.ant-upload-select-picture-card {
    margin-top: 15px;
    text-align: center;
}

.ant-upload-select-picture-card i {
    font-size: 28px;
    color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: -18px;
    font-size: 12px;
    color: #666;
}

.ant-menu-submenu-horizontal > .ant-menu {
    z-index: 9999;
}

.ant-menu-item-selected a {
    color: #2db7f5 !important;
}

.ant-upload {
    position: relative;
    display: inline-block;
    height: 96px;
    width: 96px;
    padding: 4px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    vertical-align: top;
}

.ant-upload img {
    width: 90px;
}

.ant-upload .progress {
    display: inline-block;
    color: #87d068;
    margin-top: 5px;
    position: absolute;
    top: 96px;
    left: 15px
}

.head-action-bar {
    padding-bottom: 14px;
}

.head-action-bar .head-action-bar-title {
    line-height: 32px;
}

.head-action-bar-line {
    padding-bottom: 14px;
    border-bottom: 1px solid #e5e5e5;
}

.head-action-bar-line-sm {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.head-action-bar-line-sm .action-title {
    line-height: 32px;
}

.card-box {
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px 0;
    padding: 10px;
    transition: all .5s ease;
}

.card-box .card-title {
    margin-bottom: 15px;
}

.center-box {
    width: 40%;
    margin-left: 30%;
    margin-top: 45px;
    box-shadow: #CED2DB 0 1px 2px 0;
}

.form-container {
    padding: 20px;
}

.code-cover {
    background: rgba(255, 255, 255, .2);
}

@media screen and (max-width: 480px) {
    .center-box {
        width: 100%;
        margin: 0 auto;
        box-shadow: #CED2DB 0 1px 2px 0;
    }
}

.info-board {
    line-height: 40px;
    font-size: 14px;
}

.form-board {
    font-size: 14px;
    border: 1px solid #E9E9E9;
}

/*.info-board:first-child{
  border-top:1px solid #E9E9E9 ;
}*/

.info-board .info-row {
    /*border-bottom:1px solid #ccc;*/
    padding: 0 20px;
}

.in-table-line {
    width: 100%;
    padding: 10px 8px;
    border-bottom: 1px solid #e9e9e9;
}

.in-table-line:last-child {
    border-bottom: none;
}

.btn-code {
    position: absolute;
    right: 3px;
    top: 3px;
    display: inline-block;
    background: #2db7f5;
    height: 26px;
    color: #fff;
    line-height: 26px;
    width: 70px;
    text-align: center;
    border-radius: 4px;
}

.btn-code-clock {
    position: absolute;
    right: 3px;
    top: 3px;
    display: inline-block;
    background: #2db7f5;
    height: 26px;
    color: #fff;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.text-label {
    color: #aaa;
    margin-right: 5px;
}

.company-name {
    color: #999;
    font-size: 12px;
}

.company-name-content {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 14px;
    text-align: center;
}

.company-name .company-type {
    display: inline-block;
    width: 26px;
    height: 14px;
    background-color: #F5A623;
    font-size: 10px;
    color: #FFFFFF;
    letter-spacing: 0;
    border-radius: 6px;
    margin-right: 5px;
}

.user-name span:nth-of-type(1) {
    color: #fff;
    font-size: 14px;
}

.user-name span:nth-of-type(2) {
    color: #999999;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.user-setting {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-setting i {
    font-size: 16px;
}

.padding-tb-7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.search-box-lg {
    width: 250px;
}

.search-box-md {
    width: 200px;
}

.form-item-container .ant-form-item {
    margin-bottom: 12px;
}

.form-item-container .ant-form-item > label {
    padding: 0;
}

.form-item-container .form-card .ant-form-item {
    margin-bottom: 0;
}

.form-label {
    color: #666;
    text-align: right;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
}

.form-card {
    position: relative;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 5px;
}

.form-card > .close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
}

.form-card .ant-btn-lg {
    padding-top: 4px !important;
    padding-bottom: 5px !important;
}

/*for canvas print of screen part*/

@media screen {
    .canvas {
        display: inline-block;
    }

    /* or inline-block */
    .print-image {
        display: none;
    }
}

.price-show {
    width: 120px;
    display: block;
    text-align: right;
}

.input-label {
    line-height: 32px;
    display: block;
    text-align: right;
}

.info-label {
    color: #aaa;
    margin-right: 10px;
}

.with-bottom-border {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.with-bottom-border-nopadding {
    border-bottom: 1px solid #ddd;
}

.has-select {
    position: relative;
}

.confirm-check {
    font-size: 18px;
    color: #87d068;
}

.card-active {
    background: #2db7f5;
    color: #fff;
}

figure img {
    max-width: 100%;
}

figcaption {
    font-weight: bold;
    line-height: 30px;
}

.list-line {
    line-height: 34px;
    color: #2db7f5;
}

.switch-store {
    padding-top: 6px;
    margin-left: 10px;
}

.form-module-title {
    color: #ccc;
    margin-bottom: 10px;
}

/* 使用 css 技巧来动态设置的对话框位置 */

.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-modal .ant-modal {
    top: 0;
}

.column-money {
    text-align: right !important;
}

.btn-action-small {
    margin-left: 5px;
    margin-right: 5px;
}

.action-two {
    width: 160px;
}

.action-three {
    width: 260px;
}

.order-money {
    font-size: 14px;
    font-weight: bold;
    color: #108ee9;
}

.overview-vertical-line {
    width: 0;
    height: 125px;
    border-right: 1px solid rgba(235, 235, 235, 1);
    margin: -50px auto 0 auto;
}

.project-destroy {
    text-align: center;
    width: 80px;
}

.project-destroy:hover {
    color: red;
}

.coupon-icon {
    position: absolute;
    top: -5px;
    right: -17px;
    z-index: 2;
    text-align: center;
    width: 52px;
    transform: rotate(45deg);
}

.coupon-word-icon {
    position: relative;
    margin: -18px auto 0 auto;
    z-index: 101;
    font-size: 12px;
    font-weight: bold;
}

.completed {
    position: absolute;
    left: 50%;
    top: 155px;
    transform: translateX(-20%);
    width: 120px;
    height: 120px;
    z-index: 1;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10;
    cursor: pointer;
}

.popover-title {
    padding-left: 10px;
    background: white;
    width: 265px;
    height: 100%;
    display: inline-block;
    margin-left: -16px;
    margin-right: -16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.popover-content {
    background: white;
    width: 265px;
    height: 100%;
    margin: -8px -16px;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.popover-content:after {
    content: " ";
    position: absolute;
    left: 128px;
    bottom: -2px;
    border-width: 6px 4px 0 4px;
    border-top-color: #e9e9e9;
    border-left-color: white;
    border-right-color: white;
    border-style: solid;
}

.coupon-sale-detail {
    display: flex;
    flex-direction: row;
    min-width: 600px;
    justify-content: space-around;
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 5px;
    padding: 0 5px;
}

.coupon-sale-detail div {
    min-width: 120px;
}

.coupon-sale-detail div div {
    padding: 10px 0;
}

.popover {
    padding: 20px;
    margin: -10px -16px -10px -16px;
    border-radius: 6px;
    background-color: white;
}

.popover:after {
    content: " ";
    position: absolute;
    left: 80px;
    bottom: -2px;
    border-width: 6px 4px 0 4px;
    border-top-color: #e9e9e9;
    border-left-color: white;
    border-right-color: white;
    border-style: solid;
}

/*************override******************/

.ant-upload {
    text-align: center;
}

form .ant-search-input .ant-search-btn {
    padding-top: 5px !important;
    padding-bottom: 4px !important;
}

.ant-table-placeholder {
    z-index: 0 !important;
}

.ant-input-group .ant-input {
    z-index: 0 !important;
}

.ant-row .ant-form-item {
    margin-bottom: 12px !important;
}

/*************************/

/*fixed*/
.modal-guide-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    z-index: 1001
}

/*can scroll*/
.modal-guide-mask-scroll {
    position: absolute;
}
